body{
    margin: 0px;
    background-color: #121212;
    display: flex;
    flex-direction: column;
}
.contact-container{
    display: grid;
    align-content: center;
    justify-content: center;
    height: 100vh;
}

#contact-header{
    color: #FFFFFF;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
}
#contact-info{
    color: #FFFFFF;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    text-decoration: underline #BB86FC;
}

.contact-email {
    color: #FFFFFF;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}