body {
  background-image: url("Background.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0px;

}

.intro-container {
  width: 100vw;
  height: 100vh;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000;
  animation: slide-out-container 2s cubic-bezier(0.97, 0.01, 0.36, 0.99) 1.8s;
  animation-fill-mode: forwards;
  position: fixed;
  z-index: 4;
}

.intro-text-wrapper {

  color: #FFFFFF;
  position: absolute;
  font-size: 100px;
  text-transform: uppercase;
  font-weight: 600;
  z-index: 1;
}

@keyframes blink {
  0% {
    opacity: 0%;
  }

  1% {
    opacity: 100%;
  }

  99% {
    opacity: 100%;
  }

  100% {
    opacity: 0;
  }
}

.text {


  text-align: center;
}

.intro-text-1 {
  animation: blink 0.8s linear 0.4s;
  opacity: 0;
}

.intro-text-2 {
  animation: blink 0.8s linear 0.5s;
  opacity: 0;
}

.intro-text-3 {
  animation: blink 0.8s linear 0.6s;
  opacity: 0;
}

.intro-text-4 {
  animation: blink 0.8s linear 0.7s, slide-out 1s linear 1.2s;
  opacity: 0;
}

.intro-text-5 {
  animation: blink 0.8s linear 0.6s;
  opacity: 0;
}

.intro-text-6 {
  animation: blink 0.8s linear 0.5s;
  opacity: 0;
}

.intro-text-7 {
  animation: blink 0.8s linear 0.4s;
  opacity: 0;
}

@keyframes slide-out {
  0% {
    opacity: 0%;
  }

  1% {
    opacity: 100%;
  }

  19% {
    opacity: 100%;
  }

  20% {
    opacity: 0%;
  }

  39% {
    opacity: 0%;
  }

  40% {
    opacity: 100%;
  }

  59% {
    opacity: 100%;
  }

  60% {
    opacity: 0%;
  }

  79% {
    opacity: 0%;
  }

  80% {
    opacity: 100%;
  }

  100% {
    opacity: 100%;
  }
}

@keyframes slide-out-container {
  0% {
    height: 100%;
  }

  40% {
    height: 100%;
  }

  60% {
    height: 0%;
  }

  100% {
    height: 0%;
    z-index: -10;
  }
}



.popup .overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 2;
  display: none;
  margin: 0px;
}

.popup .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: #000000;
  color: #ddd;
  max-width: 450px;
  width: 100%;
  height: auto;
  z-index: 2;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  font-size: 1vw;
  font-family: "Lucida Console", "Courier New", monospace;
}

.popup .close-btn {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  background: #222;
  color: #f2f2f2;
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;


}

.popup .close-btn:hover {
  color: #BB86FC;
  background-color: #FFFFFF;
}

.popup.active .overlay {
  display: block;
}

.popup.active .content {
  transition: all 300ms ease-in-out;
  transform: translate(-50%, -50%) scale(1);

}

#button1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px;
  font-size: 100px;
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 600;
  background-color: transparent;
  overflow: hidden;
  z-index: -1;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}


@media screen and (max-width: 1000px) {

  #button1 {
    font-size: 45px;
  }

  body {
    background-position: top right;


  }

  .text {
    font-size: 45px;
  }

  .popup .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: #FFFFFF;
    color: #ddd;
    width: 350px;
    height: 250px;
    font-size: 15px;
    z-index: 2;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
  }


}
